
body {
    background-color:cornsilk;
    color:blueviolet;
    padding: 200px;
    font-family:sans;
}
body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 100;
}

h1 {
    font-size: 5em;
    color: coral
}

.container {
    padding: 5px;
    display:grid;
    grid-template-columns: 20% 20% 20% 20%;
    grid-template-rows: repeat(15, 15em);
    grid-column-gap: 2%;
    grid-row-gap: 2%;
}

.container div {
    padding:2px;
}


